:root {
  /* -------------- colors --------------  */
  --Tomato: hsl(4, 100%, 67%);
  --Dark-Slate-Grey: hsl(234, 29%, 20%);
  --Charcoal-Grey: hsl(235, 18%, 26%);
  --Grey: hsl(231, 7%, 60%);
  --White: hsl(0, 0%, 100%);

  --clr-primary-400: var(--Tomato);

  --clr-neutral-100: var(--White);
  --clr-neutral-200: var(--Grey);
  --clr-neutral-300: var(--Charcoal-Grey);
  --clr-neutral-400: var(--Dark-Slate-Grey);

  /* -------------- font family --------------  */
  --ff-primary: "Roboto", sans-serif;

  /* -------------- font weight --------------  */
  --fw-400: 400;
  --fw-700: 700;

  /* -------------- font size --------------  */
  --fs-100: 0.694rem;
  --fs-200: 0.833rem;
  --fs-300: 1rem;
  --fs-400: 1.2rem;
  --fs-500: 1.44rem;
  --fs-600: 1.728rem;
  --fs-700: 2.074rem;
  --fs-800: 2.488rem;
  --fs-900: 2.986rem;
  --fs-ds-title: 3.583rem;
}

/* // https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: var(--ff-primary);
  font-weight: var(--fw-400);
  font-size: var(--fs-300);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Commen */
.title {
  font-weight: var(--fw-700);
  font-size: var(--fs-ds-title);
  line-height: 1;
  margin-bottom: 1rem;
}

/* desktop: 1440px; */
.container {
  background: var(--clr-neutral-400);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* -------------- newsletter style --------------  */
.newsletter {
  background: var(--clr-neutral-100);
  display: flex;
  padding: 2rem;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  width: 57%;
}
.newsletter-left {
  flex-basis: 50%;
  margin-left: 2rem;
}

.newsletter-left > p:not(:has(class)) {
  margin-bottom: 1rem;
}

.list {
  margin-bottom: 1rem;
}
.list-item {
  display: flex;
  align-items: flex-start;
}
.list > :not(:last-child) {
  margin-bottom: 0.6rem;
}
.inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#input-lable {
  font-weight: var(--fw-700);
}
#newsletter-input {
  padding: 0.8rem;
  border: 1px solid var(--clr-neutral-200);
  border-radius: 12px;
  outline: none;
  cursor: pointer;
  margin-bottom: 1rem;
}
#newsletter-input > ::placeholder {
  color: var(--clr-neutral-200);
}
.newsletter-right {
  flex-basis: 50%;
}
/* .newsletter-right > img {
  width: 80%;
} */
/* -------------- succsess massage style --------------  */
.succsess {
  background: var(--clr-neutral-100);
  max-width: 470px;
  padding: 3rem;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
}
.succsess > img {
  width: 64px;
  margin-bottom: 1rem;
}
.succsess > p:not(:has(class)) {
  margin-bottom: 1rem;
}
#subsciber-email {
  font-weight: var(--fw-700);
}
.succsess > a {
  margin-top: auto;
}

/* mobile: 375px; */
@media (max-width: 375px) {
  body {
    background-color: var(--clr-neutral-100);
  }
  .newsletter {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    gap: 0;
    padding: 0;
  }
  .newsletter-left {
    padding: 1.5rem;
    padding-top: 2rem;
  }
  .title {
    margin-block: 1rem;
    margin-bottom: 0;
  }
  .newsletter-left > p:not(:has(class)) {
    margin-bottom: 1rem;
  }

  .list {
    margin-bottom: 1rem;
  }
  .list-item {
    display: flex;
    align-items: flex-start;
  }
  .list > :not(:last-child) {
    margin-bottom: 0.6rem;
  }

  .newsletter-right > img {
    content: url("./images/illustration-sign-up-mobile.svg");
  }

  /* -------------- succsess massage style --------------  */
  .succsess {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    height: 100vh;
    width: 100%;
    justify-content: center;
  }
  .succsess > img {
    margin-top: auto;
  }

  .succsess > a {
    margin-top: auto;
  }
  .title {
    font-size: var(--fs-800);
  }
}

.button {
  color: var(--clr-neutral-100);
  background-color: var(--clr-neutral-400);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  padding: 1rem 2rem;
  border-radius: 12px;
}
.button:focus-visible,
.button:hover {
  background-color: var(--clr-primary-400);
}
